* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #fff;
  font-family: sans-serif;
}

.banner {
  font-size: 30px;
}

.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clock {
  font-size: 40px;
  background-color: orange;
  height: 80px;
  width: 300px;
  padding: 20px 30px;
  margin-top: 2rem;
  border-radius: 10px;
  text-align: center;
}
